/*Main Body*/	
	body{ 
	background-color: #3499FA;
}

/*Box1*/
	#box1 {background-color:black; padding:30px;
		text-align: center;
}	
	#heading1 {color:white;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 50px;
}
	#para1 {color: yellow;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px
}	

/*Box2*/
	#box2 {background-color:yellow; padding:30px}
	header ul {
		margin: 0 auto;
		background-color:#07DDF5;
		height: 50px;
}
	#heading2 {color:black;
	font-family: 'Open Sans Condensed', sans-serif;	
	text-align: center;
	font-size: 50px	
}
	#para2{color:red;
		font-family: 'Open Sans Condensed', sans-serif;	
		text-align: center;
		font-size: 25px;
}


/*Box3*/
	#box3 {background-color:green; padding:30px}
	header ul {
		margin: 0 auto;
		background-color:#07DDF5;
		height: 50px;
}
	#heading3 {color:white;
	font-family: 'Open Sans Condensed', sans-serif;	
	text-align: center;
	font-size: 50px	
}
	#para3{color:orange;
		font-family: 'Open Sans Condensed', sans-serif;	
		text-align: center;
		font-size: 25px;
}


/*Box4*/
	#box4 {background-color:red; padding:30px}
	header ul {
		margin: 0 auto;
		background-color:#07DDF5;
		height: 50px;
}
	#heading4 {color:yellow;
	font-family: 'Open Sans Condensed', sans-serif;	
	text-align: center;
	font-size: 50px	
}
	#para4{color:white;
		font-family: 'Open Sans Condensed', sans-serif;	
		text-align: center;
		font-size: 25px;
}